In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [4]:
df=pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [8]:
normal=df[df['Class']==0]
fraud=df[df['Class']==1]

In [9]:
from sklearn.utils import resample

In [10]:
normal_under_sample=resample(normal,replace=False,n_samples=len(fraud),random_state=27)

In [11]:
normal_under_sample.shape

(492, 31)

In [12]:
fraud.shape

(492, 31)

In [13]:
new_df=pd.concat([normal_under_sample,fraud])

In [14]:
new_df.shape

(984, 31)

In [15]:
new_df.value_counts()

Time      V1          V2          V3          V4         V5          V6         V7          V8          V9         V10         V11        V12         V13        V14         V15        V16        V17         V18        V19        V20        V21         V22        V23        V24        V25        V26        V27        V28        Amount  Class
68207.0   -13.192671   12.785971  -9.906650    3.320337  -4.801176    5.760059  -18.750889  -37.353443  -0.391540  -5.052502    4.406806  -4.610756   -1.909488  -9.072711   -0.226074  -6.211557  -6.248145   -3.149247   0.051576  -3.493050   27.202839  -8.887017   5.303607  -0.639435   0.263203  -0.108877   1.269566   0.939407  1.00    1        6
94362.0   -26.457745   16.497472  -30.177317   8.904157  -17.892600  -1.227904  -31.197329  -11.438920  -9.462573  -22.187089   4.419997  -10.592305  -0.703796  -3.926207   -2.400246  -6.809890  -12.462315  -5.501051  -0.567940   2.812241  -8.755698    3.460893   0.896538   0.254836  -0.738097  -0.966564  -7.263482  -1.324884  1.00    1        4
84204.0   -1.927453    1.827621   -7.019495    5.348303  -2.739188   -2.107219  -5.015848    1.205868   -4.382713  -8.337707    7.190306  -9.424844   -0.223293  -12.875494  -0.071918  -6.299961  -12.719207  -3.740176   0.844060   2.172709   1.376938   -0.792017  -0.771414  -0.379574   0.718717   1.111151   1.277707   0.819081  512.25  1        2
          -0.937843    3.462889   -6.445104    4.932199  -2.233983   -2.291561  -5.695594    1.338825   -4.322377  -8.099119    7.182967  -9.445943   -0.314620  -12.991466  -0.136359  -6.367524  -12.734394  -3.845130   1.007667   1.129532   1.066550   -0.521657  -0.319917  -0.405859   0.906802   1.165784   1.374495   0.729889  0.00    1        2
85285.0   -7.030308    3.421991   -9.525072    5.270891  -4.024630   -2.865682  -6.989195    3.791551   -4.622730  -8.409665    6.309044  -8.576761    0.246747  -11.534046  -0.364265  -5.452495  -11.887570  -3.563585   0.876019   0.545698   1.103398   -0.541855   0.036943  -0.355519   0.353634   1.042458   1.359516  -0.272188  0.00    1        2
                                                                                                                                                                                                                                                                                                                                                         ..
169966.0  -3.113832    0.585864   -5.399730    1.817092  -0.840618   -2.943548  -2.208002    1.058733   -1.632333  -5.245984    1.933520  -5.030465   -1.127455  -6.416628    0.141237  -2.549498  -4.614717   -1.478138  -0.035480   0.306271   0.583276   -0.269209  -0.456108  -0.183659  -0.328168   0.606116   0.884876  -0.253700  245.00  1        1
170348.0   1.991976    0.158476   -2.583441    0.408670   1.151147   -0.096695   0.223050   -0.068384    0.577829  -0.888722    0.491140   0.728903    0.380428  -1.948883   -0.832498   0.519436   0.903562    1.197315   0.593509  -0.017652  -0.164350   -0.295135  -0.072173  -0.450261   0.313267  -0.289617   0.002988  -0.015309  42.53   1        1
171137.0   2.291579   -0.426363   -2.390573   -0.840220   0.130728   -1.877251   0.479951   -0.689735   -1.032068   0.940315   -0.690209  -0.740598   -0.277871   0.477726   -0.478206   0.003144   0.621473   -1.837408   0.678594  -0.096572   0.480707    1.485557  -0.218783   0.086144   0.744979   0.303936  -0.092888  -0.094200  10.00   0        1
171483.0  -10.325582  -10.256755  -1.920520    4.742631   6.596055   -4.144106  -5.947807   -1.959710    1.884900   1.122661    1.031898   1.716891    0.471279  -0.978095    0.708468  -0.419410   1.972063    0.622804   3.558427  -4.806940   0.311710   -0.286815  -8.451591   1.644076  -1.927760   0.382244   3.800540  -4.555243  3.69    0        1
926.0     -1.536958   -0.041422    0.629846   -0.687015   0.796080   -0.485757  -0.302744    0.737427   -0.069131  -0.634663   -0.473711  -0.133042   -1.390328   0.684565   -0.748777   0.720440  -0.693531    0.535850   0.498872   0.134666  -0.107957   -0.701171  -0.184521  -0.851564  -0.129501   0.345511   0.178534  -0.054153  1.00    0        1
Name: count, Length: 965, dtype: int64

In [16]:
new_df.to_csv('data.csv',index=False)

In [17]:
df=pd.read_csv('data.csv')

In [18]:
y=df['Class']
x=df.drop(columns=['Class'],axis=1)

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)

In [20]:
import dagshub,mlflow

In [21]:
mlflow.set_tracking_uri('https://dagshub.com/kumarashutoshbtech2023/capstone-end-2-end-project.mlflow')
dagshub.init(repo_owner='kumarashutoshbtech2023', repo_name='capstone-end-2-end-project', mlflow=True)
mlflow.set_experiment('capstone mlops')

Accessing as kumarashutoshbtech2023

Initialized MLflow to track repo "kumarashutoshbtech2023/capstone-end-2-end-project"

Repository kumarashutoshbtech2023/capstone-end-2-end-project initialized!

<Experiment: artifact_location='mlflow-artifacts:/ef5c5ce8b8bf48458ce658c192b5ed2e', creation_time=1763065566536, experiment_id='0', last_update_time=1763065566536, lifecycle_stage='active', name='capstone mlops', tags={}>

In [22]:
import logging,os,time
import mlflow.sklearn

In [23]:
logging.basicConfig(level=logging.INFO,format='%(asctime)s-%(levelname)s-%(message)s')

In [27]:
with mlflow.start_run():
    start_time=time.time()
    mlflow.log_param('test_size',0.2)
    model=LogisticRegression(max_iter=1000)
    model.fit(x_train,y_train)
    mlflow.log_param('model','LogisticRegression')
    y_pred=model.predict(x_test)
    accuracy=accuracy_score(y_test,y_pred)
    precision=precision_score(y_test,y_pred)
    recall=recall_score(y_test,y_pred)
    f1=f1_score(y_test,y_pred)
    mlflow.log_metric('accuracy',accuracy)
    mlflow.log_metric('precision_score',precision)
    mlflow.log_metric('recall',recall)
    mlflow.log_metric('f1',f1)

c:\Users\kumar\Desktop\anaco\envs\cnn\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

üèÉ View run whimsical-wasp-730 at: https://dagshub.com/kumarashutoshbtech2023/capstone-end-2-end-project.mlflow/#/experiments/0/runs/8d128e820bf942e982aba659cd41fdd9
üß™ View experiment at: https://dagshub.com/kumarashutoshbtech2023/capstone-end-2-end-project.mlflow/#/experiments/0